# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
propagation/data/**
.vscode/**
data/**
.Rhistory
**.csv
**.png
notes/wacom.sh
notes/brouillon.xoj
**.pdf
**.xoj
**.svg
**.pptx
**.zip
**.Rhistory